# Backend
backend/.env
backend/storage/logs/*.log
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/storage/app/public/
backend/bootstrap/cache/*.php
backend/vendor/
backend/public/hot
backend/public/storage

# Mobile
mobile/node_modules/
mobile/android/app/build/
mobile/android/build/
mobile/ios/build/
mobile/ios/Pods/
mobile/.bundle/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
